<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        {%- if site.github_username -%}
          <span>
              <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="social-link">
                  <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
              </a>
          </span>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <span>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="social-link">
                <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
            </a>
          </span>
        {%- endif -%}
    </div>

  </div>

</footer>
