body {
    box-sizing: border-box;
}

/* ROW-COLUMN CLASSES */
.column-half {
    width:50%;
}
.column-3rd {
    width:33.333%;
}
.column-4th {
    width: 25%;
}
.column-3-4th {
    width: 75%;
}
.row {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* HOME PAGE */
.home {
    text-align: center;
}
.about-block {
    padding-bottom: 1em;
}
.about-pic {
    margin: auto;
}
.about-logo {
    border-radius: 50%;
}
.about-content {

}
.team-card {
    margin: 10px;
    padding-top: 1em;
    border: 2px solid #cccccc;
    border-radius: 7px;
}
.team-card:hover {
    margin: 5px;
    border: 2px solid #99ccff;
}
.team-card-heading {
    text-align: center;
}
.team-card-content img {
    border-radius: 0px 0px 5px 5px;
}

/* FOOTER */
.footer-col-wrapper {
    text-align: center;
}

/* GENERAL */
.underline { text-decoration: underline; }
.space-below { padding-bottom: 1em; }
.center-align { text-align: center; }
