body {
    box-sizing: border-box;
}

.page-content {
    background-color: #fff;
}

.site-header, .site-footer {
    background-color: #fafafa;
}

/* ROW-COLUMN CLASSES */
.col {
    flex: 1;
    padding: 10px;
}
.col-4th {
    flex: 1;
    flex-basis: 25%;
    padding: 10px;
}
.col-3-4th {
    flex: 1;
    flex-basis: 75%;
    padding: 10px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
  .row, .col, .col-4th, .col-3-4th {
    display: block;
    width: 100%;
    padding: 10px 0px;
  }
}

h1 {
    font-family: 'Coda', sans-serif;
}

.site-title {
    font-family: 'Oxanium', sans-serif;
}

/* HOME PAGE */
.home {
    text-align: center;
}
.home-card {
    margin: 10px;
    padding-top: 1em;
    border: 2px solid #cccccc;
    border-radius: 7px;
}
.home-card:hover {
    border: 2px solid #99ccff;
}
.home-card-heading {
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    font-weight: bold;
}
.home-card a:link { text-decoration: none; }
.home-card a:visited { text-decoration: none; }
.home-card a:hover { text-decoration: none; }
.home-card a:active { text-decoration: none; }

.about-block {
    padding-bottom: 1em;
}
.about-pic {
    margin: auto;
    width: 25%;
}
.circle-img {
    border-radius: 50%;
}
.about-content {
    padding-top: 1em;
}
.team-block-heading {
    text-align: center;
}
.team-card {
    margin: 10px;
    padding-top: 1em;
    border: 2px solid #cccccc;
    border-radius: 7px;
}
.team-card:hover {
    margin: 5px;
    border: 2px solid #99ccff;
}
.team-card-heading {
    text-align: center;
}
.team-card-content img {
    border-radius: 0px 0px 5px 5px;
}

/* FOOTER */
.footer-col-wrapper {
    text-align: center;
}

.profile-header, .project-header {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.profile-gallery {
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
    margin-top: 1em;

    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.project-subtitle {
    font-style: italic;
}
.project-content {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.project-content p img {
    display: block;
    margin: auto;
}
.project-content p img + em {
    display: block;
    text-align: center;
    color: #777;
    padding-bottom: 1em;
}

/* GENERAL */
.underline { text-decoration: underline; }
.space-below { padding-bottom: 1em; }
.center-align { text-align: center; }
