---
layout: default
---
<div class="home">
    <div class="about-block">
        <div class="about-pic">
            <img src="{{ page.logo_src }}" class="circle-img" alt="Profile picture" />
        </div>
        <div class="about-content">
            <h1>About Us</h1>
            <p>{{ page.bio }}</p>
        </div>
    </div>
  {{ content }}

  <div class="team-block">
      <div class="row">
          <div class="col">
              <div class="team-card">
                  <a href="/team">
                      <h3 class="team-card-heading">Our Team</h3>
                      <div class="team-card-content">
                          <img src="/assets/img/user-icon.jpg" alt="Team picture" />
                      </div>
                  </a>
              </div>
          </div>
          <div class="col">
              <div class="team-card">
                  <a href="/projects">
                      <h3 class="team-card-heading">Our Projects</h3>
                      <div class="team-card-content">
                          <img src="/assets/img/user-icon.jpg" alt="Projects picture" />
                      </div>
                  </a>
              </div>
          </div>
    </div>
</div>
