---
layout: default
---
<div class="home">
    <div class="about-block">
        <div class="about-pic">
            <img src="{{ page.logo_src }}" class="circle-img" alt="Profile picture" />
        </div>
        <div class="about-content">
            <h1>About Us</h1>
            <p>{{ page.bio }}</p>
        </div>
    </div>
  {{ content }}

  <div class="home-block">
      <div class="row">
          <div class="col">
              <div class="home-card">
                  <a href="/team">
                      <h3 class="home-card-heading">OUR TEAM</h3>
                  </a>
              </div>
          </div>
          <div class="col">
              <div class="home-card">
                  <a href="/projects">
                      <h3 class="home-card-heading">OUR PROJECTS</h3>
                  </a>
              </div>
          </div>
    </div>
</div>
