---
layout: default
---

<div class="team-block">
    <h1 class="team-block-heading">Our Projects</h1>
    <div class="row">
        <div class="col">
            <div class="team-card">
                <a href="{{ page.lab1_url }}">
                    <h3 class="team-card-heading">Lab 1</h3>
                    <div class="team-card-content">
                        <img src="{{ page.lab1_pic }}" alt="Lab 1 picture">
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="team-card">
                <a href="{{ page.lab2_url }}">
                    <h3 class="team-card-heading">Lab 2</h3>
                    <div class="team-card-content">
                        <img src="{{ page.lab2_pic }}" alt="Lab 2 picture">
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="team-card">
                <a href="{{ page.lab3_url }}">
                    <h3 class="team-card-heading">Lab 3</h3>
                    <div class="team-card-content">
                        <img src="{{ page.lab3_pic }}" alt="Lab 3 picture">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{{ content }}
