---
layout: default
---

<div class="team-block">
    <h1 class="team-block-heading">Our Team</h1>
    <div class="row">
        <div class="col">
            <div class="team-card">
                <a href="{{ page.werner_url }}">
                    <h3 class="team-card-heading">Werner Bayas</h3>
                    <div class="team-card-content">
                        <img src="{{ page.werner_profile_src }}" alt="Werner Bayas profile">
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="team-card">
                <a href="{{ page.kiana_url }}">
                    <h3 class="team-card-heading">Kiana Erickson</h3>
                    <div class="team-card-content">
                        <img src="{{ page.kiana_profile_src }}" alt="Kiana Erickson profile">
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="team-card">
                <a href="{{ page.ming_url }}">
                    <h3 class="team-card-heading">Ming He</h3>
                    <div class="team-card-content">
                        <img src="{{ page.ming_profile_src }}" alt="Ming He profile">
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="team-card">
                <a href="{{ page.maneesh_url }}">
                    <h3 class="team-card-heading">Maneesh John</h3>
                    <div class="team-card-content">
                        <img src="{{ page.maneesh_profile_src }}" alt="Maneesh John profile">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{{ content }}
